<%= form_with(model: potentialbuyer, local: true) do |form| %>
  <% if potentialbuyer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(potentialbuyer.errors.count, "error") %> prohibited this potentialbuyer from being saved:</h2>

      <ul>
      <% potentialbuyer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display: none;">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, :value => current_user.id %>
  </div>

  <div class="field" style="display: none;" >
    <%= form.label :house_id %>
    <%= form.number_field :house_id, :value => @houseid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <script>
      document.getElementsByName("commit")[0].click();
  </script>
<% end %>
