<br><br>
<%= link_to 'View all houses', houses_path %><br><br>

<h2> Search Filters </h2>

<%=form_tag househunter_search_path, :method => 'get' do %>
    search by price</br>
    <%= number_field_tag :lower_price_range, params[:lower_price_range] %>
    <%= number_field_tag :upper_price_range, params[:upper_price_range] %>

    <br>search by Area in sqft</br>
    <%= number_field_tag :lower_area_range, params[:lower_area_range]%>
    <%= number_field_tag :upper_area_range, params[:upper_area_range] %>

    <br>search by location </br>
    <%= text_field_tag :location, params[:location] %>
    <%= submit_tag "search"%><br>
   
  <br><br>  
  <table>
	  <thead>
	    <tr>
	      <th>Sqft</th>
	      <th>Location</th>
	      <th>Address</th>
	      <th>Style</th>
	      <th>Floors</th>
	      <th>Price</th>
	      <th>Basement</th>

	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @houses.each do |house| %>
	      <tr>
	        <td><%= house.sqft %></td>
	        <td><%= house.location %></td>
	        <td><%= house.address %></td>
	        <td><%= house.style %></td>
	        <td><%= house.floors %></td>
	        <td><%= house.price %></td>
	        <td><%= house.basement %></td>
	        <td><%= link_to 'Show', house %></td>
        	<% if session[:role]=='realtor' and session[:id] == house.user_id %>
        		<td><%= link_to 'Edit', edit_house_path(house) %></td>
        		<td><%= button_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        	<% end %>
        	<% if session[:role]=='househunter' or session[:role] == 'admin' %>
        		<td><%= link_to 'Submit Inquiry', new_inquirydetail_path(:id => house.id) %></td>
        	<% end %>
	      </tr>
	  	<% end %>
	  </tbody>
	</table>	
 <%end%> 
 <br> <br>   
<%= link_to 'Go Back', root_path %>